#vetCard { 
    max-width: 400px;
    height: 300px;
    background-color: whitesmoke; 
    margin-left: 0px;
    margin-top: 5px;


}

.vetImage{
    width: auto;
    height: 100%;
    object-fit:cover;

}