

  .list-inline li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 0px;
    margin-bottom: 0px;
  }
  
  .list-unstyled {
    padding-left: 0;
    list-style: none;
  }
  
  
  /*Change icons size here*/
  .social-icons .fab {
    font-size: 1.2em;
  }
  /*Change icons circle size and color here*/
  .social-icons .fab {
    width: 25px;
    height: 25px;
    margin: auto;
    line-height: 25px;
    text-align: center;
    color: #FFF;
    color: rgba(255, 255, 255, 0.8);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  
  .social-icons.icon-circle .fab{ 
    border-radius: 100%;
  }
  
  
  .social-icons.icon-rotate .fab:hover, .social-icons.icon-rotate .fab:active { 
    -webkit-transform: scale(1.1) rotate(360deg);
    -moz-transform: scale(1.1) rotate(360deg);
    -ms-transform: scale(1.1) rotate(360deg);
    -o-transform: scale(1.1) rotate(360deg);
    transform: scale(1.1) rotate(360deg);
  }
   
  
  .social-icons .fa-facebook,.social-icons .fab.fa-facebook-f{background-color:#3C599F;}  
  .social-icons .fab.fa-instagram{background-color:#d6249f;background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);}
  .social-icons .fa-twitter,.social-icons .fab.fa-twitter{background-color:#32CCFE;} 
  
  