.footer{
    position: absolute;
    bottom: 0;
    width: 100%

}

#footerright{
    background-color: lightgrey;
    color: black;
    padding: 20px
}

#footerleftimage{

    background-color: slategray;
    /* background-image: url(../../assets/images/tracks.jpg); */
    background-size: cover;
    position:relative;
    padding: 30px;
}

#footerlefttext{
    font-weight: bolder;

}

.footerContact{
    display: block;
    font-size: 15px;
    font-weight: bolder;
}



#subfooter{
    background-color: black;
    color: blanchedalmond;
    padding: 15px
}

#subfooterCo{
    font-size: 15px;
    text-align: center;
    margin-left: 5px;
}

#subcopyright{
    font-size: 12px;
}

li {
    list-style-type: none;
    margin-left: 0px
}

a, a:link, a:visited, a:hover, a:active{
    text-decoration: none;
    color: inherit;
}


.footerLinks{
    padding: 0px;
}


#socialposition{
    position: relative;
    bottom: 8px;
    
}

#footertoppad{
    padding-top: 5px;
    padding-bottom: 5px
}



