.footer{
    position: absolute;
    bottom: 0;
    width: 100%

}

#footerright{
    background-color: lightgrey;
    color: black;
    padding: 30px
}

#footerleft{
   
    background-color: slategray;
    padding: 30px;
}

.footerContact{
    display: block;
    font-size: 15px;
    font-weight: bolder;
}



#subfooter{
    background-color: black;
    color: blanchedalmond;
    padding: 15px
}

#subfooterCo{
    font-size: 15px;
    text-align: center;
    margin-left: 5px;
}

#subcopyright{
    font-size: 12px;
}