#slide1 {
    font-size: 26pt;
    font-weight: bold;
    color: white;
  }
  #slide2 {
    font-size: 26pt;
    font-weight: bold;
    color: palevioletred;
  }
  #slide3 {
    font-size: 26pt;
    font-weight: bold;
    color: green;
    
  }
  .carousel-caption{
      position: absolute;
      font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      top:20px;
  }

 
  